@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root{
  --header-height: 3rem;
  --font-semi: 600;
  --first-color: #05F4B7;
  --second-color: #ffffff;
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.8rem;
  --h2-font-size: 1.2rem;
  --normal-font-size: 0.938rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
 
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: #12151F;
}

h1,h2,p{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title,.work-title,.about-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.section-title::after,.work-title::after,.about-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.skills-section,.extra,.work-section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
 
}

.nav-item{
  margin-bottom: 2rem;
}

.nav-link{
  position: relative;
  color: #fff;
}

.nav-link:hover{
  position: relative;
}

.nav-link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav-logo{
 color: var(--second-color);
 font-weight: 700;
 font-size: 1.4rem;
 float: right;
}

#logo{
  display: inline-block;
  padding-right: .5rem;
  padding-top: .75rem;
}

.toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

@media screen and (max-width: 768px){
  .menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 60%;
    height: 100%;
    padding: 2rem;
    background-color:#181c29;;
    transition: .5s;
  }
}

.show{
  right: 0;
}

.home-data{
  align-self: center;
}

.home-title{
  font-size: var(--big-font-size);
  margin-bottom: 1.5rem;
}

.home-subtitle{
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}

.home-title-color{
  color: var(--first-color);
}

.home-social{
  display: flex;
  justify-content: space-evenly;
}

.home-social-icon{
  width: max-content;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--second-color);
}

.home-social-icon:hover{
  color: var(--first-color);
}

.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.skills-container{
  row-gap: 2rem;
  text-align: center;
}
.skills-subtitle{
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.skills-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
}

.skill-icon{
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--first-color);
}

.skill-names{
  display: flex;
  align-items: center;
}

.skill-img{
  border-radius: .5rem;
  height: 400px;
}

.work-container{
  row-gap: 2rem;
}

.work-img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
}

.work-img img{
  transition: 1s;
  cursor: pointer;
}

.content:hover .work-img img{
  transform: scale(1.1);
}

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background:#0f1626;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 0.9;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 30%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 33%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

@media screen and (max-width: 360px){
  .home{
    height: 140vh;
  }
  .button{
    display: table;
    background-color: var(--first-color);
    color:#0f1626;
    padding: .3rem .5rem;
    font-weight: var(--font-semi);
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 0.25rem;
    text-align: center;
  }
  .section-title{
    margin-bottom: 0px;
  }
  .home-img img{
    margin: 0 auto;
    border-radius: 50% 0% 50% 50%;
    width: 225px;
  }
}

@media screen and (max-width: 480px) and (min-width:360px) {
  .home{
    height: 125vh;
  }
  .button{
    display: table;
    background-color: var(--first-color);
    color:#0f1626;
    padding: .3rem .75rem;
    font-weight: var(--font-semi);
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 0.25rem;
    text-align: center;
  }
  .section-title{
    margin-bottom: 0px;
  }
  .home-img img{
    margin: 0 auto;
    border-radius: 50% 0% 50% 50%;
    width: 265px;
  }
}

@media screen and (max-width: 570px) and (min-width:480px){
  .home{
    height: 100vh;
  }
  .section-title{
    margin-bottom: 0px;
  }
  .button{
    display: table;
    background-color: var(--first-color);
    color:#0f1626;
    padding: .5rem 1rem;
    font-weight: var(--font-semi);
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .home-img img{
    margin: 0 auto;
    border-radius: 50% 0% 50% 50%;
    width: 270px;
  }
}

@media screen and (max-width: 768px) and (min-width:570px) {
  .home{
    height: 95vh;
  }
  .button{
    display: table;
    background-color: var(--first-color);
    color:#0f1626;
    padding: .5rem 1.5rem;
    font-weight: var(--font-semi);
    border-radius: .75rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .home-img img{
    margin: 0 auto;
    border-radius: 50% 0% 50% 50%;
    width: 250px;
  } 
}



@media screen and (max-width: 768px){
  .toggle{
    display: inline;
  }
  #logo{
    padding-top: 1rem;
  }
  .home-social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .home-title{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 3rem; 
  }
  .home-subtitle{
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .about-title{
    margin-top: 0px;
    margin-bottom: 1rem;
  }
  .content-details{
    opacity: 1;
    top:33%;
    font-size: 1rem;
  }
  .content .content-overlay{
    opacity: 0.93;
  }
  .header{
     background-color:#181c29;
  }
}

@media screen and (min-width: 769px){
  :root{
    --big-font-size: 2.8rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
  body{
    margin: 0;
  }
  .button{
    display: table;
    background-color: var(--first-color);
    color:#0f1626;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
  }
  .toggle{
    display: none;
  }
  .extra{
    padding-top: 6rem;
  }
  .skills-section, .work-section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title,.about-title,.work-title{
    margin-bottom: 3rem;
  }
  .section-title::after,.work-title::after,.about-title::after{
    width: 80px;
    top: 3rem;
  }
  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav-list{
    display: flex;
    padding-top: 0;
  }
  .nav-item{
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav-link{
    color: var(--second-color);
  }
  .home{
    height: 100vh;
    row-gap: 1rem;
  }
  .home-data{
    align-self: flex-end;
  }
  .home-social{
    flex-direction: row;
    align-self: flex-end;
  }
  .home-social-icon{
    margin-bottom: 0;
  }
  .home-img img{
    display: inline;
    margin-top: 5rem;
    margin-left: 2rem;
    border-radius: 50% 0% 50% 50%;
    width: 400px;
  }
  .skill-img{
    padding-top: 4rem;
  }
  .home-container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .skills-container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .work-container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}
